 <!-- The following should be placed in a seperate file saved under "files" section of a custom theme templates -->
  <!-- File name should have a leading "_" and end in "html" - example _past_events.html -->
  
   <div class="padtop">
  {% for event in page.calendar.events_past %}
 	 {% include "event" %} <!-- Pulls in info for each past event from the calendar -->
      <hr>
		{% endfor %}
</div>

 <div class="padtop padbottom">
	    {{ page.calendar.events_past | paginate }} <!-- displays past events in a list and then paginates overflow -->
	</div>
 
 <!-- This is the bit that you could paste into the template html for which you would like to add the feature, for the example above, a paginated list of past events -->
 
 {% include "past_events" %}

--------------------------------------------------
<!-- Likewise, the code below is for pulling the past events onto another page -->
<!-- First, the seperate file saved in the files section of a custom theme template -->

<div class="padtop" style="width: 80%; margin: auto;">
  {% for event in page.calendar.events_past %}
 	 {% include "event" %}
  {% if event.has_image? %}
  	
  {% endif %}
  		<br>
      <hr>
		{% endfor %}
</div>


{% if page.calendar.events_past_count > 0 %}

<div class="padtop padbottom">
    {{ page.calendar.events_past | paginate }} <br>
	</div>

{% endif %}


<!-- Now the code to actually embed it into a page -->

  {% subpage "events" with "past_e_page2" %} <!-- "past_e_page2" would be the name of the file created in the above secion -->
